html {
    -webkit-text-size-adjust: 100%;
}

#apli{
    position: relative !important;
}

#container {
    position: relative;
}


.Chat {     
    text-rendering: optimizeLegibility;
    width: 99% !important;
    height: 65vh;
    overflow: auto;
    padding: 0, 0, 10px, 0; /* Adjust as needed */
    background-color: white;  
    width: 90%;
    position: fixed;
    top: 15%;
    bottom: 10%;
    min-width: 90%;
    min-height: 65%;
      
}

.avatar {
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 50%;
    margin-top: 0.7vw;
    position: fixed;
    left: 2%;
}

header {
    position: fixed;
    text-rendering: optimizeLegibility;
    display: grid;
    grid-template-columns: 0.3fr 2fr 1fr;
    border-bottom: 0.1vw solid rgb(209, 209, 209);
    background-color: white;
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 6vw;
}

header h1 {
   top: 1vw;
   font-size: 3vw;
   position: absolute !important;
}

#userConversation {
    margin-top: 1vw;
}

header span {
    font-size: 1vw;
    font-weight: 500;
    color: #BBBBBB;
    position: absolute;
    top: 4vw;
}

#icon a{
    margin-left: 10%;
    position: absolute;
    bottom: 20%;
    right: 10vw;
    top: 50%;
    font-size: 2vw;
    transform: translateY(-50%);
}

#conversation1 {
    width: 40%;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.3);
    margin-left: 3vw;
    border-radius: 10px 10px 10px 0px;
    padding: 20px;
    margin-bottom: 5px;
   
}

.timeConversation {
    font-weight: 400;
    font-size: 10px;
    line-height: 16.71px;
    color:rgba(187, 187, 187, 1);
    margin-left: 0px;
}

#conversation2 {
    width: 40%;
    height: fit-content;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.3);
    border-radius: 10px 10px 0px 10px;
    padding: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 58%;
    background-color: #538AF7;
    color: white;
    
}

#timeUser {
    margin-left: 760px;
}

#divClientOptions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.clientOptions {
    background-color: black;
    color: white;
    max-width: fit-content;
    padding: 8px;
    border-radius: 12px;
}

.clientOptions:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.774);
}

#inputText  {
   width: 100vw;
   padding: 0px; /* Reduce padding for better use of space */
   position: fixed;
   bottom: 14%;
}


#plusIcon {
    margin-left: 15px;
    margin-top: 20px;
    
}

#wrapperInputSend {
    position: absolute;
    top: 100%;
    width: 97vw;
    left: 50%;
    height: 5vw;
    transform: translateX(-50%);
}

#wrapperInputSend a {
    position: absolute;
    z-index: 1;
    right: 0%;
    bottom: -1px;
    padding: 1vw;
    font-size: 3vw;
}


input {
    width: 100% !important;
    height: 4vw;
    border-radius: 10px;
    background-color: #f5f7f9;
    padding: 0px 0px 0px 10px;
    margin-bottom: 10px;
    border: none;
}

.centeredContainer {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    margin-top: 20px; /* Add margin as needed */
    position: fixed;
    bottom: 0;
    right: 45%;
}

#micIcon {
    font-size: 1vw;
    margin-bottom: 0.5vw;
}

.typing {
    width: 5em;
    height: 2em;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #ffffff;
    border-radius: 20px;
    max-width: 75%;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.3);
    margin-left: 40px;
    border-radius: 10px 10px 10px 0px;
    padding: 5px 5px 5px 10px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
  }
  
  .typing__dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .typing__dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing__dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }

@media screen and (max-width: 568px) {

    #wrapperInputSend {
        height: 7vw;
    }

    #wrapperInputSend a {
        bottom: 1px;
        right: 1%;
    }

    input {
        height: 7vw;
    }

    #inputText {
        bottom: 22%;
    }
}

@media screen and (min-width: 1740px) {
    #wrapperInputSend {
        bottom: 20px;
    }
}

@media screen and (min-width: 3000px) {
    #wrapperInputSend {
        bottom: 60px;
    }
}