.Chat {
    height: 650px;
    overflow: scroll;
<<<<<<< HEAD
    padding: 0, 0, 10px, 0; /* Adjust as needed */
    background-color: white;  
    width: 90%;
    position: fixed;
    top: 20%;
    bottom: 10%;
=======
    padding-right: 15px;
    
>>>>>>> af7fea19ee8f2a900b62175ae162043ca9b3fb6b
    
}

.avatar {
    height: 58px;
    width: 58px;
    border-radius: 50px;
    position: fixed;
    top: 0%;
    left: 0%;
}

header {
    display: grid;
    grid-template-columns: 0.3fr 2fr 1fr;
    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: white;
    position: fixed;
    top: 0;
    width: calc(100% - 50px);
}

header h1 {
   margin-left: 10px;
   
}

#userConversation {
    margin-right: 180px;
    margin-top: 20px;
}

header img {
    margin-left: 33px;
    margin-top: 18px;
    margin-bottom: 18px;
}

header span {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    color: #BBBBBB;
}

#icon {
    max-width: 25%;
    /* margin-top: 29px; */
}

#icon a{
    max-width: 25%;
    /* margin-left: 250px; */
}

#conversation1 {
    max-width: 75%;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.3);
    margin-left: 40px;
    border-radius: 10px 10px 10px 0px;
    padding: 5px 5px 5px 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.timeConversation {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    color:rgba(187, 187, 187, 1);
    margin-left: 39px;
}

#conversation2 {
    max-width: 75%;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.3);
    margin-right: 40px;
    border-radius: 10px 10px 0px 10px;
    padding: 5px 5px 5px 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 25%;
    background-color: #538AF7;
    color: white;
}

#timeUser {
    margin-left: 760px;
}

#divClientOptions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.clientOptions {
    background-color: black;
    color: white;
    max-width: fit-content;
    padding: 8px;
    border-radius: 12px;
}

.clientOptions:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.774);
}

<<<<<<< HEAD
#inputText  {
   width: 90%;
   padding: 0px; /* Reduce padding for better use of space */
   position: fixed;
   bottom: 5%;
   
=======
#inputText input {
    padding: 10px;

>>>>>>> af7fea19ee8f2a900b62175ae162043ca9b3fb6b
}

#inputText input {
    padding: 10px;
    width: calc(100% - 100px);
    position: fixed;
    bottom: 5%;

}
#plusIcon {
    margin-left: 15px;
    margin-top: 20px;
    
}

#wrapperInputSend {
    position: fixed;
    bottom: 5%;
    right: 90%;
    width: 10%;
}

#inputType {
    position: fixed;
    left: 90%;
    bottom: 5%;
    width: 90%;
}

input {
    width: calc(100% - 100px);
    height: 50px;
    border-radius: 12px;
    background-color: #f5f7f9;
    padding-left: 0px;
    margin: 20px;
    border: none;
    position: absolute;
    
    

}
.centeredContainer {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    margin-top: 20px; /* Add margin as needed */
<<<<<<< HEAD
    position: fixed;
    bottom: 0;
    right: 50%;
}



=======
}
.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #ffffff;
  border-radius: 20px;
  max-width: 75%;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.3);
  margin-left: 40px;
  border-radius: 10px 10px 10px 0px;
  padding: 5px 5px 5px 10px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
>>>>>>> af7fea19ee8f2a900b62175ae162043ca9b3fb6b

