* {
    font-family: 'Work Sans';
    padding: 0;
    margin: 0;
}

 aside {
    background-color: white;
    width: 372px;
    height: auto;
    top: 154px;
    left: 121px;
    border: 1px;
    border-right: 1px solid rgb(221, 218, 218);

}

.avatar {
    height: 58px;
    width: 58px;
    border-radius: 50px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-bottom: 1px solid rgb(209, 209, 209);
}

#userImg {
    padding: 20px;
}

#userName h1 {
    line-height: 28.64px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 23px;
}

#userName h3{
    color: rgba(187, 187, 187, 1);
    font-size: 16px;
    font-weight: 500;
    
}

.user span {
    background-color: #5FB8A4;
    width: 51px;
    height: 14px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 30px;
    font-family: 'Work Sans', serif;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
}

input {
    width: 290px;
    height: 50px;
    border-radius: 12px;
    background-color: #F5F7F9;
    padding-left: 45px;
    margin: 20px;
    border: none;

}

.wrapper {
    position:relative;
}

.icon {
    position: absolute;
    left: 25px;
    bottom: 25px;
}


.myConversation {
    margin-top: 15px;
    margin-left: 17px;
    margin-bottom: 20px;
}

.chats {
    display: grid;
    grid-template-columns: 0.8fr 2fr 1fr;
    padding-left: 17px;
    border-bottom: 1px solid rgb(221, 218, 218);
    padding-top: 15px;
}

.chats h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.87px;
}

.chats h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.71px;
    margin-top: 4px;
    color: #BBBBBB;

}

.chats img {
    margin-bottom: 15px;
}
.chats time{
    padding-left: 35px;
    padding-top: 8px;
    color: #BBBBBB;
    font-size: 14px;
    line-height: 16.71px;
    font-weight: 400;
}

.chats:hover{
    background-color: #EDF3FD;
    cursor: pointer;
}

.button{
    background-color: rgba(234, 73, 65, 1);
    width: 335px;
    height: 56px;
    top: 945px;
    left: 138px;
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    border: none;
    margin-top: 270px;
    margin-left: 18px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(177, 53, 47);
}