.application {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
}

/* Apply styles for screens with a maximum width of 768px (typical tablet and mobile screens) */
@media (max-width: 768px) {
    .application {
        flex-direction: column; /* Keep stacking items vertically on small screens */
    }
}

@media (max-width: 1024px) {
    .application {
        flex-direction: column; 
    }
}

@media (max-width: 1440px) {
    .application {
        flex-direction: column; 
    }
}

@media (max-width: 2560px) {
    .application {
        flex-direction: column; 
    }
}