.application {
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
}

/* Apply styles for screens with a maximum width of 768px (typical tablet and mobile screens) */
@media (max-width: 768px) {
    .application {
        flex-direction: column; /* Keep stacking items vertically on small screens */
    }
}
body {margin:0;padding:0}